<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="shkil" translate="label" sortOrder="110">
            <label>Shkil's Modules 271022</label>
        </tab>
        <section id="blog" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Blog</label>
            <tab>shkil</tab>
            <resource>Magento_Config::config_general</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="date_format" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date Format</label>
                    <source_model>Shkil\Blogposts\Model\Source\Config\DateFormat</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
